.sidebar {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 4.5rem;
  background-color: var(--primary-color);
  box-shadow: inset -1px 0 0 #0000001a;
}

@media (max-width: 767.98px) {
  .sidebar {
    width: 100%;
    opacity: 80%;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar .nav-link {
  font-size: 18px;
  color: #ffff;
}

.sidebar .nav-link:hover {
  background-color: #ffffff26;
  border-radius: 4px;
  color: #ffff;
}
.sidebar .nav-link:focus {
  background-color: #ffffff26;
  border-radius: 4px;
  color: #ffff;
}
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
  box-shadow: 0 0 0 3px #ffffff40;
}
